In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('df_dum.pkl')

In [3]:
df.head()

,date,floor_area_sqm,lease_commence_date,resale_price,month,year,address,remaining_lease_years,max_floor_lvl,commercial,...,min_dist_mrt,school_5km,preschool_5km,mrt_5km,school_1km,preschool_1km,mrt_1km,min_dist_attraction,min_dist_market,min_dist_hawker
0,2012-03,45.0,1986,250000.0,3,2012,172 ANG MO KIO AVE 4,72,10.0,0.0,...,1225.25108,1,1,1,1,1,0,2091.604628,348.422916,283.493115
1,2012-04,60.0,1986,302500.0,4,2012,172 ANG MO KIO AVE 4,72,10.0,0.0,...,1225.25108,1,1,1,1,1,0,2091.604628,348.422916,283.493115
2,2012-05,60.0,1986,295000.0,5,2012,172 ANG MO KIO AVE 4,72,10.0,0.0,...,1225.25108,1,1,1,1,1,0,2091.604628,348.422916,283.493115
3,2012-06,45.0,1986,259000.0,6,2012,172 ANG MO KIO AVE 4,72,10.0,0.0,...,1225.25108,1,1,1,1,1,0,2091.604628,348.422916,283.493115
4,2012-08,45.0,1986,263000.0,8,2012,172 ANG MO KIO AVE 4,72,10.0,0.0,...,1225.25108,1,1,1,1,1,0,2091.604628,348.422916,283.493115